<!DOCTYPE html>
<html>
<head>
</head>
<body>
    
    <form action="/view" method="post">
        <input type="hidden" name="product_id" value="product1">
        <button type="submit">Product 1</button>
    </form>

    <form action="/view" method="post">
        <input type="hidden" name="product_id" value="product2">
        <button type="submit">Product 2</button>
    </form>

    <form action="/view" method="post">
        <input type="hidden" name="product_id" value="product3">
        <button type="submit">Product 3</button>
    </form>

    <form action="/view" method="post">
        <input type="hidden" name="product_id" value="product4">
        <button type="submit">Product 4</button>
    </form>
</body>
</html>